.header-cont{
    padding: .5em 5em;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.no-task{
    &.box-cont{
        max-width: 17em;
        margin: 30vh auto;
        h3{ margin-top: 0;}
    }
}

.tasklist-cont{
    margin: 0 1em;
    .tool-bar{
        display: flex;
        >div{
            flex: 1;
        }
    }
    .task-list{
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: solid .1em #F4F4F6;
        >div{
            &:first-child{
                width: 3em;
            }
            &:nth-child(2){
                width: 85%;
                text-align: left;
            }
            &:last-child{
                width: 6em;
            }
        }
    }
}

.taskdash-cont{
    display: flex;
    height: 13em;
    >div.box-cont{
        flex: 1;
        margin: 1em;
        padding: 1em;
    }
}

@media only screen and (max-width: 425px){
    .header-cont{
        padding: .5em;
    }
    .no-task{
        &.box-cont{
            max-width: 100%;
            margin: 1em auto;
        }
    }
    .taskdash-cont{
        flex-direction: column;
        height: inherit;
        >div.box-cont{
            flex: none;
            margin: .5em 0;
            padding: 1em 2em!important;
            height: 10em;
            &:first-child{
                margin: 0 0 .5em;
            }
            ul{
                li{
                    p{
                        max-width: 100%!important;
                    }
                }
            }
        }
    }
    .tasklist-cont{
        margin: 0;
        .tool-bar{
            display: flex;
            flex-direction: column;
            margin: 0 1em;
            >div{
                text-align: center;
                display: flex;
                flex-direction: column;
                margin-bottom: .5em;
                >h3{
                    margin-bottom: 0;
                }
                >input[type="text"]{
                    margin-right: 0!important;
                    text-align: center;
                }
            }
        }
        .box-cont{
            padding: 1.5em 1em;
            .task-list{
                >div{
                    &:last-child{
                        width: 8em;
                    }
                }
            }
        }

    }
}